@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PhasecurveBlog</h1>
    <h4>This is a blog site for Phasecurvers to write about various tech articles.</h4>
    <h6><p>Want to register as an author? <a href="Author/AddAuthor">Click Here</a></p></h6>
</div>