@{
    ViewBag.Title = "title";
}
<form method="post">
    <div>
        <label for="name" style="font-weight: 500;">Full Name<span style="color: rgb(185, 74, 72);">**</span></label>
        <input type="text" id="name" name="name" required>
    </div>
    <button type="submit"> Submit </button>
</form>