html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* styling for description columm in GetallArticles Tables*/
.chars {
  max-width: 50ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}