@using PhasecurveBlog.Models

  @{
      ViewData["Title"] = "Article";
  }

<div>
      <h1 class="display-4">@Model.Title</h1>
          <div>@Model.Description</div>
          <div>@Model.Body</div>
</div>