@using PhasecurveBlog.Models
@model Article
@{
    ViewData["Title"] = "Article";
  }

<div>
    <h1 class="display-4">@Model.Title</h1>
    <div>@Model.Description</div>
    <div>@Model.Body</div>
    <a href="~/article/UpdateArticle/@Model.Id">Edit</a>
</div>