@using PhasecurveBlog.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">All Articles</h1>
   @foreach(Article art in Model){
        <a href="article/article/@art.Id">@art.Title</a>
    }

</div>